<div class="wrapper">
  <div class="sign-in">
    <div class="close">
      <img src="images/icons/close.svg" alt="close">
    </div>
    <h2>Sign Up</h2>
    <form action="">
      <div class="sign-in__box">
        <span>First Name</span>
        <input  type="text" placeholder="Johnatan">
      </div>
      <div class="sign-in__box">
        <span>Last Name</span>
        <input  type="text" placeholder="Archer">
      </div>
      <div class="sign-in__box">
        <span>Your Email</span>
        <input type="email" placeholder="example@mail.com">
      </div>
      <div class="sign-in__box">
        <label for="gender">Gender</label>
        <div class="position-relative">
          <select name="form" id="gender">
            <option value="1">Female</option>
            <option value="2">Male</option>
            <option value="3">Other</option>
          </select>
        </div>
      </div>
      <div class="sign-in__box">
        <span>Password</span>
        <div>
          <input autocomplete="current-password" type="password">
          <span class="show"><img src="images/icons/show.svg" alt="show"></span>
        </div>
      </div>
      <div class="sign-in__check">
        <input  type="checkbox" id="sub1">
        <label for="sub1">remember me</label>
      </div>
      <div class="sign-in__bottom">
        <button type="submit" class="btn-green tab-pane__info__submit">Sign Up</button>
        <span>Already have an account? <a href="#">Sign In</a></span>
      </div>
    </form>
  </div>
</div>
