<div class="tabs__info tabs mt-auto">
    <ul class="nav nav-pills nav-fill align-items-start align-items-lg-center" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active text-nowrap" data-toggle="pill" href="#pills-home" role="tab"
               aria-controls="pills-home" aria-selected="true">

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 20" width="18px" height="18px"><defs/><g fill="none" fill-rule="evenodd"><path fill="#000" stroke="#000" stroke-linecap="round" stroke-linejoin="round" d="M2.443 8.33v9.654h15.166V8.33l1.156.328L10 1.26 1.26 8.465z"/><g stroke="#fff"><path stroke-linecap="round" stroke-linejoin="round" d="M6.323 9.148h1.76v5.121h-1.76zM5.928 10.272H4.81v2.937h1.12"/><g stroke-linecap="round" stroke-linejoin="round"><path d="M13.486 9.004h-1.76v5.122h1.76zM13.88 10.129H15v2.936h-1.12"/></g><path d="M8.082 11.597h3.645"/></g></g></svg>

                Fitness Centers</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link text-nowrap" data-toggle="pill" href="#pills-profile">

                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px"><defs/><defs><filter id="a" width="106%" height="126%" x="-3%" y="-13%" filterUnits="objectBoundingBox"><feOffset in="SourceAlpha" result="shadowOffsetOuter1"/><feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="10"/><feColorMatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0.505180027 0 0 0 0 0.495265099 0 0 0 0 0.495265099 0 0 0 0.295208698 0"/><feMerge><feMergeNode in="shadowMatrixOuter1"/><feMergeNode in="SourceGraphic"/></feMerge></filter></defs><g fill="#FFF" fill-rule="evenodd" filter="url(#a)"><g><path stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width=".5" d="M10.863 7.532a2 2 0 011.663.89h0l2.534 3.794a2 2 0 01-.132 2.397h0L12.41 17.61l-1.036-.818v1.391H3.892L3.89 17.05l-.82.56-2.567-2.894A2 2 0 01.43 12.15h0l3.046-3.856a2 2 0 011.57-.76h0L5.2 7.53 7.15 11.38l-.681 2.25 1.684.715.94-2.642-.587-.232 1.742-3.94zm-6.972 7.834v1.684l1.058-.72-1.058-.964zm7.483.33l-.585.634.585.462v-1.096zm0-4.583v4.583l1.536-1.661a1 1 0 00.058-1.288l-.08-.091-1.514-1.543zm-7.482 0l-1.486 1.482a1 1 0 00.032 1.447h0l1.453 1.324v-4.253zm5.187-3.582L7.836 10.71 6.433 7.53h2.646z"/><circle cx="7.728" cy="3" r="3"/></g></g></svg>

                Personal Online Coaches</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link text-nowrap" data-toggle="pill" href="#pills-contact"
               aria-selected="false">

                <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="17px"><defs/><defs><filter id="a" width="106%" height="126%" x="-3%" y="-13%" filterUnits="objectBoundingBox"><feOffset in="SourceAlpha" result="shadowOffsetOuter1"/><feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="10"/><feColorMatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0.505180027 0 0 0 0 0.495265099 0 0 0 0 0.495265099 0 0 0 0.295208698 0"/><feMerge><feMergeNode in="shadowMatrixOuter1"/><feMergeNode in="SourceGraphic"/></feMerge></filter></defs><g fill="none" fill-rule="evenodd" filter="url(#a)"><g><circle cx="5.78" cy="3.5" r="3.5" fill="#FFF"/><path fill="#FFF" d="M2.467 8.5H8.89c-.996-.762-2.033-1.143-3.111-1.143-1.078 0-2.182.38-3.313 1.143z"/><path fill="#FFF" d="M1.755 9.248h8.178a1 1 0 011 1v3.37c-.71 0-1.308.21-1.793.632-.486.42-.8 1.012-.944 1.773H3.469c-.243-.914-.516-1.505-.818-1.773-.303-.268-.935-.479-1.896-.632v-3.37a1 1 0 011-1z" opacity=".731"/><circle cx="8.98" cy="11" r="1" fill="#000" stroke="#979797"/><path fill="#FFF" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width=".5" d="M0 15.318l.998-.99c.465.234.794.447.986.638.192.192.43.544.711 1.057l-1.002 1.11L0 15.319zM11.775 15.29l-.998-.99c-.465.234-.794.447-.986.64-.192.191-.43.543-.711 1.055l1.002 1.111 1.693-1.815z"/></g></g></svg>

                Online Programs</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link text-nowrap" data-toggle="pill" href="#pills-nutritions" aria-selected="false">
              <svg class="online" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="18" version="1.1" style=""><rect id="backgroundrect" width="100%" height="100%" x="0" y="0" fill="none" stroke="none"/>
                <title>Group 14</title>
                <defs>
                  <filter x="-3.0%" y="-13.0%" width="106.0%" height="126.0%" filterUnits="objectBoundingBox" id="filter-1">
                    <feOffset dx="0" dy="0" in="SourceAlpha" result="shadowOffsetOuter1"/>
                    <feGaussianBlur stdDeviation="10" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
                    <feColorMatrix values="0 0 0 0 0.505180027   0 0 0 0 0.495265099   0 0 0 0 0.495265099  0 0 0 0.295208698 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"/>
                    <feMerge>
                      <feMergeNode in="shadowMatrixOuter1"/>
                      <feMergeNode in="SourceGraphic"/>
                    </feMerge>
                  </filter>
                </defs>

                <g class="currentLayer" style=""><title>Layer 1</title><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" class="">
                  <g id="main-concept">
                    <g id="search-using-filters" filter="url(#filter-1)">
                      <g id="4">
                        <g id="Group-14">
                          <rect id="Rectangle" x="0" y="0" width="18" height="18"/>
                          <g id="Group-10">
                            <polygon id="Path-18" stroke="#FFFFFF" fill="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" points="9.6197509765625,3.866668701171875 11.84100341796875,3.077728271484375 12.40765380859375,1 10.1153564453125,1.874603271484375 "/>
                            <path d="M5.603302220000046,1.6610995629999934 L5.494480279999948,2.8329453299999727 L7.054373209999994,4.833597569999995 C6.086992549999991,4.468552139999986 4.984828060000041,4.468552139999986 3.7478797500000383,4.833597569999995 C1.8924572839999882,5.381165710000005 0.9999999999997726,7.348869019999995 0.9999999999997726,9.769662289999985 C0.9999999999997726,12.190455600000007 1.782875554000043,13.270104899999978 2.7458700900000395,14.47719219999999 C3.387866450000047,15.281917099999987 4.644627280000009,16.017522699999972 6.516152570000031,16.68400889999998 L6.516152570000031,17.388720999999975 L14.280717399999958,17.388720999999975 C15.196914300000003,17.2266343 15.903932700000041,16.908459499999992 16.401772400000027,16.434196699999973 C16.899612100000013,15.959933799999988 17.21135000000004,15.307598999999982 17.336985899999945,14.47719219999999 L17.336985899999945,5.223254859999997 L16.401772400000027,5.223254859999997 L16.401772400000027,9.769662289999985 L14.852656700000011,10.612499560000003 C14.966371900000013,9.371150609999972 14.84948970000005,8.353961430000027 14.502010100000007,7.560932030000004 C13.980790599999978,6.371387930000026 13.517256999999972,6.070636030000003 12.060377199999948,5.4498351600000206 C11.08912399999997,5.035967900000003 9.94034849000002,4.96044114 8.614050769999949,5.223254859999997 L5.603302220000046,1.6610995629999934 z" id="Path-19" stroke="#FFFFFF" fill="#FFFFFF" stroke-linejoin="round"/>
                            <polygon id="Path-20" fill="#000000" points="8.50738525390625,12.443328857421875 7.36175537109375,12.443328857421875 7.36175537109375,15.935302734375 14.47528076171875,15.935302734375 16.08837890625,14.507659912109375 16.08837890625,11.801300048828125 14.91619873046875,11.801300048828125 14.91619873046875,14.23590087890625 13.69110107421875,14.23590087890625 13.69110107421875,12.443328857421875 12.431884765625,12.443328857421875 12.431884765625,13.507965087890625 11.1466064453125,13.507965087890625 11.1466064453125,12.443328857421875 9.8228759765625,12.443328857421875 9.8228759765625,14.23590087890625 8.50738525390625,14.23590087890625 "/>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </g></g></svg>
              Online Nutrition Programs</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link text-nowrap" data-toggle="pill" href="#pills-bundle" aria-selected="false">
              <svg class="bundle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="18" version="1.1"><rect id="backgroundrect" width="100%" height="100%" x="0" y="0" fill="none" stroke="none"/>
                <title>Group 9</title>
                <defs>
                  <filter x="-3.0%" y="-13.0%" width="106.0%" height="126.0%" filterUnits="objectBoundingBox" id="filter-1">
                    <feOffset dx="0" dy="0" in="SourceAlpha" result="shadowOffsetOuter1"/>
                    <feGaussianBlur stdDeviation="10" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
                    <feColorMatrix values="0 0 0 0 0.505180027   0 0 0 0 0.495265099   0 0 0 0 0.495265099  0 0 0 0.295208698 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"/>
                    <feMerge>
                      <feMergeNode in="shadowMatrixOuter1"/>
                      <feMergeNode in="SourceGraphic"/>
                    </feMerge>
                  </filter>
                </defs>

                <g class="currentLayer" style=""><title>Layer 1</title><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" class="">
                  <g id="main-concept">
                    <g id="search-using-filters" filter="url(#filter-1)">
                      <g id="5">
                        <g id="Group-9">
                          <rect id="Rectangle" x="0" y="0" width="18" height="18"/>
                          <path d="M5.828879099999995,9.604868959999997 L1.7498058600000377,9.604868959999997 C1.1975211100000251,9.604868959999997 0.7498058600000377,10.052584199999998 0.7498058600000377,10.604869 L0.7498058600000377,16.604869 C0.7498058600000377,17.157153699999995 1.1975211100000251,17.604869 1.7498058600000377,17.604869 L15.583605799999987,17.604869 C16.13589060000004,17.604869 16.583605799999987,17.157153699999995 16.583605799999987,16.604869 L16.583605799999987,10.604869 C16.583605799999987,10.052584199999998 16.13589060000004,9.604868959999997 15.583605799999987,9.604868959999997 L11.397224100000017,9.604868959999997 C10.844939400000044,9.604868959999997 10.397224100000017,10.052584199999998 10.397224100000017,10.604869 L10.397224100000017,15.8068824 C10.397224100000017,16.3591672 9.949508880000053,16.8068824 9.39722413000004,16.8068824 L7.828879099999995,16.8068824 C7.276594349999982,16.8068824 6.828879099999995,16.3591672 6.828879099999995,15.8068824 L6.828879099999995,10.604869 C6.828879099999995,10.052584199999998 6.381163850000007,9.604868959999997 5.828879099999995,9.604868959999997 z" id="Path-15" fill="#FFFFFF"/>
                          <path d="M1,8.823821190000004 L5.8484073099999705,8.823821190000004 C6.400692059999983,8.823821190000004 6.8484073099999705,8.376105940000002 6.8484073099999705,7.823821190000004 L6.8484073099999705,6.4307278599999975 C6.8484073099999705,5.878443109999999 7.296122559999958,5.430727860000005 7.8484073099999705,5.430727860000005 L9.38011277999999,5.430727860000005 C9.932397530000003,5.430727860000005 10.380112800000006,5.878443109999999 10.380112800000006,6.4307278599999975 L10.380112800000006,7.823821190000004 C10.380112800000006,8.376105940000002 10.827827999999954,8.823821190000004 11.380112800000006,8.823821190000004 L16.410074399999985,8.823821190000004 C16.962359200000037,8.823821190000004 17.410074399999985,8.376105940000002 17.410074399999985,7.823821190000004 L17.410074399999985,5.898938659999999 C17.410074399999985,5.346653910000001 16.962359200000037,4.898938659999999 16.410074399999985,4.898938659999999 L13.376822700000048,4.898938659999999 L13.376822700000048,4.898938659999999 L13.376822700000048,4.522607100000002 L3.82172836999996,4.522607100000002 L3.82172836999996,4.898938659999999 L1,4.898938659999999 C0.44771524999998746,4.898938659999999 0,5.346653910000001 0,5.898938659999999 L0,7.823821190000004 C0,8.376105940000002 0.44771524999998746,8.823821190000004 1,8.823821190000004 z" id="Path-16" fill="#FFFFFF"/>
                          <path d="M4.427523329999985,5.0795821899999964 C1.958453650000024,3.105883370000001 1.5279689200000348,1.803093839999999 3.1360691500000257,1.171213569999999 C4.744169380000017,0.5393333120000001 6.4786551800000325,1.6564644900000012 8.339526559999968,4.522607100000002 L4.427523329999985,5.0795821899999964 z" id="Path-17" stroke="#FFFFFF"/>
                          <path d="M12.563410682397489,5.081416879999999 C15.032480332397427,3.1077180700000007 15.462965062397416,1.8049285300000015 13.854864832397425,1.173048269999999 C12.246764582397418,0.5411680039999993 10.512278782397516,1.6582991800000002 8.651407382397451,4.524441789999997 L12.563410682397489,5.081416879999999 z" id="Path-17" stroke="#FFFFFF" transform=""/>
                        </g>
                      </g>
                    </g>
                  </g>
                </g></g></svg>
                Bundle Deals</a>
        </li>
        <li class="nav-item link__last" role="presentation">
            <a class="nav-link text-nowrap " data-toggle="pill" href="#pills-app"
               aria-selected="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="15"><defs/><defs><filter id="a" width="106%" height="126%" x="-3%" y="-13%" filterUnits="objectBoundingBox"><feOffset in="SourceAlpha" result="shadowOffsetOuter1"/><feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="10"/><feColorMatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0.505180027 0 0 0 0 0.495265099 0 0 0 0 0.495265099 0 0 0 0.295208698 0"/><feMerge><feMergeNode in="shadowMatrixOuter1"/><feMergeNode in="SourceGraphic"/></feMerge></filter></defs><g fill="#FFF" fill-rule="nonzero" filter="url(#a)" transform="translate(-1068 -29)"><path d="M1088.125 42.125h-.875V30.75c0-.963-.788-1.75-1.75-1.75h-14c-.962 0-1.75.787-1.75 1.75v11.375h-.875A.878.878 0 001068 43c0 .481.394.875.875.875h19.25A.878.878 0 001089 43a.878.878 0 00-.875-.875zm-8.313 0h-2.624a.433.433 0 01-.438-.438c0-.244.193-.437.438-.437h2.624c.246 0 .438.193.438.438a.433.433 0 01-.438.437zm5.688-2.625h-14v-7.875c0-.481.394-.875.875-.875h12.25c.481 0 .875.394.875.875V39.5z"/></g></svg>
                Find Fitness Website&App</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home">
            <form class="tab-pane__info d-flex flex-column flex-md-row justify-content-lg-between">
                <div class="tab-pane__info__col">
                    <label for="location">
                        <img class="lazy" data-src="images/icons/location.svg" alt="#">
                        Location
                    </label>
                    <div class="select-wrapper position-relative">
                        <select name="form" id="location">
                            <option value="1">Krop</option>
                            <option value="2">Odessa</option>
                            <option value="3">Lviv</option>
                        </select>
                    </div>
                    <label for="difficulty">
                        <img class="lazy" data-src="images/icons/begin.svg" alt="#">
                        Difficulty
                    </label>
                    <div class="select-wrapper position-relative">
                        <select name="form" id="difficulty">
                            <option value="1">professionals only</option>
                            <option value="2">professionals only</option>
                            <option value="3">professionals only</option>
                        </select>
                    </div>
                </div>
                <div class="tab-pane__info__col">
                    <label for="open">
                        <img class="lazy" data-src="images/icons/calendar.svg" alt="#">
                        Open at:
                    </label>
                    <div class="select-wrapper position-relative">
                        <select name="form" id="open">
                            <option value="1">All week</option>
                            <option value="2">All week</option>
                            <option value="3">All week</option>
                        </select>
                    </div>
                    <label for="time">
                        <img class="lazy" data-src="images/icons/clock.svg" alt="#">
                        Preferred time
                    </label>
                    <input type="text"
                           id="time"
                           class="tab-pane__info__input"
                           placeholder="18:30">
                </div>
                <div class="tab-pane__info__col">
                    <label for="type">
                        <img class="lazy" data-src="images/icons/type.svg" alt="#">
                        Type
                    </label>
                    <div class="select-wrapper position-relative">
                        <select name="form" id="type">
                            <option value="1">Powerlifting</option>
                            <option value="2">Powerlifting</option>
                            <option value="3">Powerlifting</option>
                        </select>
                    </div>
                    <label for="rate">
                        <img class="lazy" data-src="images/icons/star-dark.svg" alt="#">
                        Rate
                    </label>
                    <div class="select-wrapper position-relative">
                        <select name="form" id="rate">
                            <option value="1">Hide unrated</option>
                            <option value="2">Hide unrated</option>
                            <option value="3">Hide unrated</option>
                        </select>
                    </div>
                </div>
                <div class="tab-pane__info__col">
                    <label for="demo_1">
                        <img class="lazy"
                             data-src="images/icons/$.svg" alt="#">
                        Price range
                    </label>
                    <input id="demo_1" name="my_range" type="text" class="js-range-slider">
                    <button class="btn-green tab-pane__info__submit" type="submit">Start Search</button>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="pills-profile">
            <div class="tab-pane__info">
                Second Tab
            </div>
        </div>
        <div class="tab-pane fade" id="pills-contact">
            <div class="tab-pane__info d-flex flex-column flex-lg-row justify-content-lg-between">
                Online Programs
            </div>
        </div>
        <div class="tab-pane fade" id="pills-nutritions">
            <div class="tab-pane__info d-flex flex-column flex-lg-row justify-content-lg-between">
                Online Nutrition Programs
            </div>
        </div>
        <div class="tab-pane fade" id="pills-bundle">
          <form id="bundle-deals" class="tab-pane__info d-flex flex-column flex-md-row justify-content-lg-between" action="https://fitness.splitdev.pro/search-products/">


            <input type="hidden" name="category" value="bundle-deals">
            <div class="tab-pane__info__col"><div class="position-relative" style="
    align-items: center;">
              <div class="select-checkbox"><input name="bundle[]" type="checkbox" id="bundle_fitness_centers" value="fitness_centers"><label for="bundle_fitness_centers">Fitness centers</label></div><div class="select-checkbox"><input name="bundle[]" type="checkbox" id="bundle_personal_online_coaches" value="personal_online_coaches"><label for="bundle_personal_online_coaches">Personal Online Coaches</label></div><div class="select-checkbox"><input name="bundle[]" type="checkbox" id="bundle_online_programs" value="online_programs"><label for="bundle_online_programs">Online Programs</label></div><div class="select-checkbox"><input name="bundle[]" type="checkbox" id="bundle_online_nutrition_programs" value="online_nutrition_programs"><label for="bundle_online_nutrition_programs">Online Nutrition Programs</label></div></div></div><div class="tab-pane__info__col"><label for="price_bundle-deals"><img class="lazy loaded" data-src="https://fitness.splitdev.pro/wp-content/uploads/2020/08/dollar.svg" alt="Price range" src="https://fitness.splitdev.pro/wp-content/uploads/2020/08/dollar.svg" data-was-processed="true">Price range</label><span class="irs irs--flat js-irs-4"><span class="irs"><span class="irs-line" tabindex="0"></span><span class="irs-min" style="visibility: hidden;">$0</span><span class="irs-max" style="visibility: hidden;">$90</span><span class="irs-from" style="visibility: visible; left: -3.58073%;">$0</span><span class="irs-to" style="visibility: visible; left: 89.4818%;">$90</span><span class="irs-single" style="visibility: hidden; left: 40.3437%;">$0 — $90</span></span><span class="irs-grid"></span><span class="irs-bar" style="left: 2.5%; width: 95%;"></span><span class="irs-shadow shadow-from" style="display: none;"></span><span class="irs-shadow shadow-to" style="display: none;"></span><span class="irs-handle from" style="left: 0%;"><i></i><i></i><i></i></span><span class="irs-handle to" style="left: 95%;"><i></i><i></i><i></i></span></span><input id="price_bundle-deals" data-max="90" data-min="0" name="price" type="text" class="js-range-slider irs-hidden-input" tabindex="-1" readonly=""><button class="btn-green tab-pane__info__submit" type="submit">Start Search</button></div>                </form>
            <!--<div class="tab-pane__info d-flex flex-column flex-lg-row justify-content-lg-between">
                Bundle Deals Tab
            </div>-->
        </div>
        <div class="tab-pane fade" id="pills-app">
          <form id="fitness-website-and-app" class="tab-pane__info d-flex flex-column flex-md-row justify-content-lg-between" action="https://fitness.splitdev.pro/search-products/">


            <input type="hidden" name="category" value="fitness-website-and-app">
            <div class="tab-pane__info__col"><div class="position-relative"><div class="select-checkbox"><input name="bundle_ap[]" type="checkbox" id="bundle_ap_bundle_deals" value="bundle_deals"><label for="bundle_ap_bundle_deals">Bundle Deals</label></div><div class="select-checkbox"><input name="bundle_ap[]" type="checkbox" id="bundle_ap_find_fitness_website_and_app" value="find_fitness_website_and_app"><label for="bundle_ap_find_fitness_website_and_app">Find Fitness Website&amp;App</label></div><div class="select-checkbox"><input name="bundle_ap[]" type="checkbox" id="bundle_ap_fitness_centers" value="fitness_centers"><label for="bundle_ap_fitness_centers">Fitness centers</label></div><div class="select-checkbox"><input name="bundle_ap[]" type="checkbox" id="bundle_ap_online_nutrition_programs" value="online_nutrition_programs"><label for="bundle_ap_online_nutrition_programs">Online Nutrition Programs</label></div><div class="select-checkbox"><input name="bundle_ap[]" type="checkbox" id="bundle_ap_online_programs" value="online_programs"><label for="bundle_ap_online_programs">Online Programs</label></div><div class="select-checkbox"><input name="bundle_ap[]" type="checkbox" id="bundle_ap_personal_online_coaches" value="personal_online_coaches"><label for="bundle_ap_personal_online_coaches">Personal Online Coaches</label></div></div></div><div class="tab-pane__info__col"><label for="pr_cat"><img class="lazy loaded" data-src="https://fitness.splitdev.pro/wp-content/uploads/2020/07/center-light.svg" alt="Category" src="https://fitness.splitdev.pro/wp-content/uploads/2020/07/center-light.svg" data-was-processed="true">Category</label><div class="select-wrapper position-relative"><select name="pr_cat[]" id="pr_cat"><option value="" selected="" disabled="" hidden="">Category</option></select></div><label for="pr_sub_cat"><img class="lazy loaded" data-src="https://fitness.splitdev.pro/wp-content/uploads/2020/07/type.svg" alt="Sub category" src="https://fitness.splitdev.pro/wp-content/uploads/2020/07/type.svg" data-was-processed="true">Sub category</label><div class="select-wrapper position-relative"><select name="pr_sub_cat[]" id="pr_sub_cat"><option value="" selected="" disabled="" hidden="">Sub category</option></select></div></div><div class="tab-pane__info__col"><label for="price_fitness-website-and-app"><img class="lazy loaded" data-src="https://fitness.splitdev.pro/wp-content/uploads/2020/08/dollar.svg" alt="Price range" src="https://fitness.splitdev.pro/wp-content/uploads/2020/08/dollar.svg" data-was-processed="true">Price range</label><span class="irs irs--flat js-irs-5"><span class="irs"><span class="irs-line" tabindex="0"></span><span class="irs-min" style="visibility: hidden;">$0</span><span class="irs-max" style="visibility: hidden;">$90</span><span class="irs-from" style="visibility: visible; left: -3.58073%;">$0</span><span class="irs-to" style="visibility: visible; left: 89.4818%;">$90</span><span class="irs-single" style="visibility: hidden; left: 40.3437%;">$0 — $90</span></span><span class="irs-grid"></span><span class="irs-bar" style="left: 2.5%; width: 95%;"></span><span class="irs-shadow shadow-from" style="display: none;"></span><span class="irs-shadow shadow-to" style="display: none;"></span><span class="irs-handle from" style="left: 0%;"><i></i><i></i><i></i></span><span class="irs-handle to" style="left: 95%;"><i></i><i></i><i></i></span></span><input id="price_fitness-website-and-app" data-max="90" data-min="0" name="price" type="text" class="js-range-slider irs-hidden-input" tabindex="-1" readonly=""><button class="btn-green tab-pane__info__submit" type="submit">Start Search</button></div>                </form>
        </div>
    </div>
</div>
