<div class="footer">
  <div class="container">
    <div class="footer__logo">
      <img src="images/logo/logo-dark.svg" alt="#">
    </div>
    <div class="footer__info">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="footer__left-block">
           <div class="footer__block-1">
             <h4>Services</h4>
             <ul>
               <li><a href="/centers.html">Fitness Centers</a></li>
               <li><a href="#">Personal Online Coaches</a></li>
               <li><a href="/online-programs.html">Online Programs</a></li>
               <li><a href="#">Online Nutrition Programs</a></li>
               <li><a href="#">Bundle Deals</a></li>
               <li><a href="#">Find Fitness Website&App</a></li>
             </ul>
           </div>
           <div class="footer__block-2">
             <h4>Main menu</h4>
             <ul>
               <li><a href="/index.html">Main Page</a></li>
               <li><a href="#blog">Blog</a></li>
               <li><a href="/about.html">About Us</a></li>
               <li><a href="/contact.html">Contact Us</a></li>
               <li><a href="#">Cart</a></li>
             </ul>
           </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="footer__right-block">
            <div class="footer__right-top">
              <div class="footer__block-3">
                <h4>Legal</h4>
                <ul>
                  <li><a href="/terms.html">Terms and Conditions</a></li>
                  <li><a href="/privacy-policy.html">Privacy Policy</a></li>
                </ul>
              </div>
              <div class="footer__block-4">
                <h4>Follow us</h4>
                <ul class="footer__social">
                  <li><img src="images/twiter.svg" alt=""><a href="#">Be a fan on Twitter</a></li>
                  <li><img src="images/insta.svg" alt=""><a href="#">Follow us on Instagram</a></li>
                  <li><img src="images/fbook.svg" alt=""><a href="#">Be a fan on Facebook</a></li>
                </ul>
              </div>
            </div>
            <div class="footer__right-bottom">
              <form action="#">
                <input placeholder="example74name@mail.com" type="text">
                <button class="btn-green">Subscribe</button>
              </form>
            </div>
            <p>Copyright 2020. All right reserved</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
