<div class="cards">
    <div class="container">
        <div class="cards__info">
            <div class="cards__header">
              <span>— Some recomendations?</span>
              <h2>Here, we pick some <span>popular</span> programs worth checking out</h2>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card__img">
                            <img class="lazy" data-src="images/mars-big.png" alt="#">
                            <img class="card-img__hide lazy" data-src="images/mars-mob.png" alt="#">
                        </div>
                        <div class="big-btn card__hover">
                            <img class="lazy" data-src="images/center-light.png" alt="#">
                            <p>Fitness Centers</p>
                        </div>
                        <div class="card__content">
                            <div class="card__top">
                                <img class="lazy" data-src="images/icons/star.svg" alt="#">
                                <img class="lazy" data-src="images/icons/star.svg" alt="#">
                                <img class="lazy" data-src="images/icons/star.svg" alt="#">
                                <img class="lazy" data-src="images/icons/star.svg" alt="#">
                                <img class="lazy" data-src="images/icons/star.svg" alt="#">
                                <span>(4.9 from 317)</span>
                            </div>
                            <div class="card__center">
                                <h4>Center la Lorem Ipsum</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam…</p>
                                <div class="small-1">
                                    <img class="lazy" data-src="images/icons/location.svg" alt="#">
                                    <small>Location</small>
                                    <p>Some city, <br>Longer street name 487</p>
                                </div>
                                <div class="small-2">
                                    <img class="lazy" data-src="images/icons/calendar.svg" alt="#">
                                    <small>Open at:</small>
                                    <p>Monday - Saturday <br>06:00 - 20:00</p>
                                    <p>Sunday <br>
                                        10:00 - 18:00</p>
                                </div>
                            </div>
                            <div class="card__bottom">
                                <a href="#">More info</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card__img">
                            <img class="lazy" data-src="images/girl-big.jpg" alt="#">
                            <img class="card-img__hide lazy" data-src="images/girl-mob.png" alt="#">
                        </div>
                        <div class="big-btn card__hover">
                          <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="17px"><defs></defs><defs><filter id="a" width="106%" height="126%" x="-3%" y="-13%" filterUnits="objectBoundingBox"><feOffset in="SourceAlpha" result="shadowOffsetOuter1"></feOffset><feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="10"></feGaussianBlur><feColorMatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0.505180027 0 0 0 0 0.495265099 0 0 0 0 0.495265099 0 0 0 0.295208698 0"></feColorMatrix><feMerge><feMergeNode in="shadowMatrixOuter1"></feMergeNode><feMergeNode in="SourceGraphic"></feMergeNode></feMerge></filter></defs><g fill="none" fill-rule="evenodd" filter="url(#a)"><g><circle cx="5.78" cy="3.5" r="3.5" fill="#FFF"></circle><path fill="#FFF" d="M2.467 8.5H8.89c-.996-.762-2.033-1.143-3.111-1.143-1.078 0-2.182.38-3.313 1.143z"></path><path fill="#FFF" d="M1.755 9.248h8.178a1 1 0 011 1v3.37c-.71 0-1.308.21-1.793.632-.486.42-.8 1.012-.944 1.773H3.469c-.243-.914-.516-1.505-.818-1.773-.303-.268-.935-.479-1.896-.632v-3.37a1 1 0 011-1z" opacity=".731"></path><circle cx="8.98" cy="11" r="1" fill="#000" stroke="#979797"></circle><path fill="#FFF" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width=".5" d="M0 15.318l.998-.99c.465.234.794.447.986.638.192.192.43.544.711 1.057l-1.002 1.11L0 15.319zM11.775 15.29l-.998-.99c-.465.234-.794.447-.986.64-.192.191-.43.543-.711 1.055l1.002 1.111 1.693-1.815z"></path></g></g></svg>
                            <p>Online Programs</p>
                        </div>
                        <div class="card__content">
                            <div class="card__top">
                                <img class="lazy" data-src="images/icons/star.svg" alt="#">
                                <img class="lazy" data-src="images/icons/star.svg" alt="#">
                                <img class="lazy" data-src="images/icons/star.svg" alt="#">
                                <img class="lazy" data-src="images/icons/star.svg" alt="#">
                                <img class="lazy" data-src="images/icons/star.svg" alt="#">
                                <span>(4.9 from 317)</span>
                            </div>
                            <div class="card__center">
                                <h4>Center la Lorem Ipsum</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam…</p>
                                <div class="small-1">
                                    <img class="lazy" data-src="images/icons/location.svg" alt="#">
                                    <small>Location</small>
                                    <p>Some city, <br>Longer street name 487</p>
                                </div>
                                <div class="small-2">
                                    <img class="lazy" data-src="images/icons/calendar.svg" alt="#">
                                    <small>Open at:</small>
                                    <p>Monday - Saturday <br>06:00 - 20:00</p>
                                    <p>Sunday <br>
                                        10:00 - 18:00</p>
                                </div>
                            </div>
                            <div class="card__bottom">
                                <a href="#">More info</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card card-hide">
                        <div class="card__img">
                            <img class="lazy" data-src="images/squats-big.jpg" alt="#">
                            <img class="card-img__hide lazy" data-src="images/mars-mob.png" alt="#">
                        </div>
                        <div class="big-btn card__hover-3 card__hover">
                          <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px"><defs></defs><defs><filter id="a" width="106%" height="126%" x="-3%" y="-13%" filterUnits="objectBoundingBox"><feOffset in="SourceAlpha" result="shadowOffsetOuter1"></feOffset><feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="10"></feGaussianBlur><feColorMatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0.505180027 0 0 0 0 0.495265099 0 0 0 0 0.495265099 0 0 0 0.295208698 0"></feColorMatrix><feMerge><feMergeNode in="shadowMatrixOuter1"></feMergeNode><feMergeNode in="SourceGraphic"></feMergeNode></feMerge></filter></defs><g fill="#FFF" fill-rule="evenodd" filter="url(#a)"><g><path stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width=".5" d="M10.863 7.532a2 2 0 011.663.89h0l2.534 3.794a2 2 0 01-.132 2.397h0L12.41 17.61l-1.036-.818v1.391H3.892L3.89 17.05l-.82.56-2.567-2.894A2 2 0 01.43 12.15h0l3.046-3.856a2 2 0 011.57-.76h0L5.2 7.53 7.15 11.38l-.681 2.25 1.684.715.94-2.642-.587-.232 1.742-3.94zm-6.972 7.834v1.684l1.058-.72-1.058-.964zm7.483.33l-.585.634.585.462v-1.096zm0-4.583v4.583l1.536-1.661a1 1 0 00.058-1.288l-.08-.091-1.514-1.543zm-7.482 0l-1.486 1.482a1 1 0 00.032 1.447h0l1.453 1.324v-4.253zm5.187-3.582L7.836 10.71 6.433 7.53h2.646z"></path><circle cx="7.728" cy="3" r="3"></circle></g></g></svg>
                            <p>Personal Online Coaches</p>
                        </div>
                        <div class="card__content">
                            <div class="card__top">
                                <img class="lazy" data-src="images/icons/star.svg" alt="#">
                                <img class="lazy" data-src="images/icons/star.svg" alt="#">
                                <img class="lazy" data-src="images/icons/star.svg" alt="#">
                                <img class="lazy" data-src="images/icons/star.svg" alt="#">
                                <img class="lazy" data-src="images/icons/star.svg" alt="#">
                                <span>(4.9 from 317)</span>
                            </div>
                            <div class="card__center">
                                <h4>Center la Lorem Ipsum</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam…</p>
                                <div class="small-1">
                                    <img class="lazy" data-src="images/icons/location.svg" alt="#">
                                    <small>Location</small>
                                    <p>Some city, <br>Longer street name 487</p>
                                </div>
                                <div class="small-2">
                                    <img class="lazy" data-src="images/icons/calendar.svg" alt="#">
                                    <small>Open at:</small>
                                    <p>Monday - Saturday <br>06:00 - 20:00</p>
                                    <p>Sunday <br>
                                        10:00 - 18:00</p>
                                </div>
                            </div>
                            <div class="card__bottom">
                                <a href="#">More info</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card card-hide">
                        <div class="card__img">
                            <img class="lazy" data-src="images/yoga.jpg" alt="#">
                            <img class="card-img__hide lazy" data-src="images/mars-mob.png" alt="#">
                        </div>
                        <div class="big-btn card__hover">
                          <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="17px"><defs></defs><defs><filter id="a" width="106%" height="126%" x="-3%" y="-13%" filterUnits="objectBoundingBox"><feOffset in="SourceAlpha" result="shadowOffsetOuter1"></feOffset><feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="10"></feGaussianBlur><feColorMatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0.505180027 0 0 0 0 0.495265099 0 0 0 0 0.495265099 0 0 0 0.295208698 0"></feColorMatrix><feMerge><feMergeNode in="shadowMatrixOuter1"></feMergeNode><feMergeNode in="SourceGraphic"></feMergeNode></feMerge></filter></defs><g fill="none" fill-rule="evenodd" filter="url(#a)"><g><circle cx="5.78" cy="3.5" r="3.5" fill="#FFF"></circle><path fill="#FFF" d="M2.467 8.5H8.89c-.996-.762-2.033-1.143-3.111-1.143-1.078 0-2.182.38-3.313 1.143z"></path><path fill="#FFF" d="M1.755 9.248h8.178a1 1 0 011 1v3.37c-.71 0-1.308.21-1.793.632-.486.42-.8 1.012-.944 1.773H3.469c-.243-.914-.516-1.505-.818-1.773-.303-.268-.935-.479-1.896-.632v-3.37a1 1 0 011-1z" opacity=".731"></path><circle cx="8.98" cy="11" r="1" fill="#000" stroke="#979797"></circle><path fill="#FFF" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width=".5" d="M0 15.318l.998-.99c.465.234.794.447.986.638.192.192.43.544.711 1.057l-1.002 1.11L0 15.319zM11.775 15.29l-.998-.99c-.465.234-.794.447-.986.64-.192.191-.43.543-.711 1.055l1.002 1.111 1.693-1.815z"></path></g></g></svg>
                            <p>Online Programs</p>
                        </div>
                        <div class="card__content">
                            <div class="card__top">
                                <img class="lazy" data-src="images/icons/star.svg" alt="#">
                                <img class="lazy" data-src="images/icons/star.svg" alt="#">
                                <img class="lazy" data-src="images/icons/star.svg" alt="#">
                                <img class="lazy" data-src="images/icons/star.svg" alt="#">
                                <img class="lazy" data-src="images/icons/star.svg" alt="#">
                                <span>(4.9 from 317)</span>
                            </div>
                            <div class="card__center">
                                <h4>Center la Lorem Ipsum</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam…</p>
                                <div class="small-1">
                                    <img class="lazy" data-src="images/icons/location.svg" alt="#">
                                    <small>Location</small>
                                    <p>Some city, <br>Longer street name 487</p>
                                </div>
                                <div class="small-2">
                                    <img class="lazy" data-src="images/icons/calendar.svg" alt="#">
                                    <small>Open at:</small>
                                    <p>Monday - Saturday <br>06:00 - 20:00</p>
                                    <p>Sunday <br>
                                        10:00 - 18:00</p>
                                </div>
                            </div>
                            <div class="card__bottom">
                                <a href="#">More info</a>
                            </div>
                        </div>
                    </div>
                </div>

<!--                <div class="col-lg-6 col-md-12">-->
<!--                    <div class="card">-->
<!--                        <div class="card__img">-->
<!--                            <img class="lazy" data-src="images/girl-big.png" alt="#">-->
<!--                            <img class="card-img__hide lazy"-->
<!--                                 data-src="images/girl-mob.png" alt="#">-->
<!--                        </div>-->
<!--                        <div class="big-btn card__hover">-->
<!--                            <img class="lazy"-->
<!--                                 data-src="images/programs.png" alt="#">-->
<!--                            <p>Online Programs</p>-->
<!--                        </div>-->
<!--                        <div class="card__content">-->
<!--                            <div class="card__top">-->
<!--                                <img class="lazy" data-src="images/icons/star.svg" alt="#">-->
<!--                                <img class="lazy" data-src="images/icons/star.svg" alt="#">-->
<!--                                <img class="lazy" data-src="images/icons/star.svg" alt="#">-->
<!--                                <img class="lazy" data-src="images/icons/star.svg" alt="#">-->
<!--                                <img class="lazy" data-src="images/icons/star.svg" alt="#">-->
<!--                                <span>(4.9 from 317)</span>-->
<!--                            </div>-->
<!--                            <div class="card__center">-->
<!--                                <h4>Some longer name for an online program la Lorem Ipsum</h4>-->
<!--                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor-->
<!--                                    incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam…</p>-->
<!--                                <div class="small-1">-->
<!--                                    <img class="lazy" data-src="images/icons/type.svg" alt="#">-->
<!--                                    <small>Type</small>-->
<!--                                    <p>Stretching</p>-->
<!--                                </div>-->
<!--                                <div class="small-2">-->
<!--                                    <img class="lazy" data-src="images/icons/clock.svg" alt="#">-->
<!--                                    <small>Duration</small>-->
<!--                                    <p>10 lessons x20-30 min</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="card__bottom">-->
<!--                                <a href="#">More info</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-6 col-md-12">-->
<!--                    <div class="card card-hide">-->
<!--                        <div class="card__img">-->
<!--                            <img class="lazy" data-src="images/squats-big.png" alt="#">-->
<!--                        </div>-->
<!--                        <div class="big-btn card__hover-3">-->
<!--                            <img class="lazy" data-src="images/personal.png" alt="#">-->
<!--                            <p>Personal Online Coaches</p>-->
<!--                        </div>-->
<!--                        <div class="card__content">-->
<!--                            <div class="card__top">-->
<!--                                <img class="lazy" data-src="images/icons/star.svg" alt="#">-->
<!--                                <img class="lazy" data-src="images/icons/star.svg" alt="#">-->
<!--                                <img class="lazy" data-src="images/icons/star.svg" alt="#">-->
<!--                                <img class="lazy" data-src="images/icons/star.svg" alt="#">-->
<!--                                <img class="lazy" data-src="images/icons/star.svg" alt="#">-->
<!--                                <span>(4.9 from 317)</span>-->
<!--                            </div>-->
<!--                            <div class="card__center">-->
<!--                                <h4>Joann Archer</h4>-->
<!--                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor-->
<!--                                    incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam…</p>-->
<!--                                <div class="small-1">-->
<!--                                    <img class="lazy" data-src="images/icons/type.svg" alt="#">-->
<!--                                    <small>Type</small>-->
<!--                                    <p>Crossfit</p>-->
<!--                                </div>-->
<!--                                <div class="small-2">-->
<!--                                    <img class="lazy" data-src="images/icons/begin.svg" alt="#">-->
<!--                                    <small>Difficulty</small>-->
<!--                                    <p>beginner - intermediate</p>-->
<!--                                </div>-->

<!--                            </div>-->
<!--                            <div class="card__bottom">-->
<!--                                <a href="#">More info</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-6 col-md-12">-->
<!--                    <div class="card card-hide">-->
<!--                        <div class="card__img">-->
<!--                            <img class="lazy" data-src="images/yoga.png" alt="#">-->
<!--                        </div>-->
<!--                        <div class="big-btn card__hover">-->
<!--                            <img class="lazy" data-src="images/programs.png" alt="#">-->
<!--                            <p>Online Programs</p>-->
<!--                        </div>-->
<!--                        <div class="card__content">-->
<!--                            <div class="card__top">-->
<!--                                <img class="lazy" data-src="images/icons/star.svg" alt="#">-->
<!--                                <img class="lazy" data-src="images/icons/star.svg" alt="#">-->
<!--                                <img class="lazy" data-src="images/icons/star.svg" alt="#">-->
<!--                                <img class="lazy" data-src="images/icons/star.svg" alt="#">-->
<!--                                <img class="lazy" data-src="images/icons/star.svg" alt="#">-->
<!--                                <span>(4.9 from 317)</span>-->
<!--                            </div>-->
<!--                            <div class="card__center">-->
<!--                                <h4>Some name for an online program</h4>-->
<!--                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor-->
<!--                                    incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam…</p>-->
<!--                                <div class="small-1">-->
<!--                                    <img class="lazy" data-src="images/icons/type.svg" alt="#">-->
<!--                                    <small>Type</small>-->
<!--                                    <p>Yoga</p>-->
<!--                                </div>-->
<!--                                <div class="small-2">-->
<!--                                    <img class="lazy" data-src="images/icons/clock.svg" alt="#">-->
<!--                                    <small>Duration</small>-->
<!--                                    <p>10 lessons x20-30 min</p>-->
<!--                                </div>-->
<!--                                <div class="small-3">-->
<!--                                    <img class="lazy" data-src="images/icons/begin.svg" alt="#">-->
<!--                                    <small>Difficulty</small>-->
<!--                                    <p>beginner</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="card__bottom">-->
<!--                                <a href="#">More info</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>

        </div>
    </div>
</div>
