<div class="online-programs__block">
  <div class="online-programs__block-before">
    <div class="container">
      <div class="online-programs__block-info">
        <div class="online-programs__block-top">
          <div class="online-programs__block-hide">
            <a class="nav-link text-nowrap active" data-toggle="pill" href="#pills-contact" aria-selected="false">

              <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="17px">
                <defs></defs>
                <defs>
                  <filter id="a" width="106%" height="126%" x="-3%" y="-13%" filterUnits="objectBoundingBox">
                    <feOffset in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                    <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="10">
                    </feGaussianBlur>
                    <feColorMatrix in="shadowBlurOuter1" result="shadowMatrixOuter1"
                      values="0 0 0 0 0.505180027 0 0 0 0 0.495265099 0 0 0 0 0.495265099 0 0 0 0.295208698 0">
                    </feColorMatrix>
                    <feMerge>
                      <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                      <feMergeNode in="SourceGraphic"></feMergeNode>
                    </feMerge>
                  </filter>
                </defs>
                <g fill="#000" fill-rule="evenodd" filter="url(#a)">
                  <g>
                    <circle cx="5.78" cy="3.5" r="3.5" fill="#000"></circle>
                    <path fill="#000"
                      d="M2.467 8.5H8.89c-.996-.762-2.033-1.143-3.111-1.143-1.078 0-2.182.38-3.313 1.143z"></path>
                    <path fill="#000"
                      d="M1.755 9.248h8.178a1 1 0 011 1v3.37c-.71 0-1.308.21-1.793.632-.486.42-.8 1.012-.944 1.773H3.469c-.243-.914-.516-1.505-.818-1.773-.303-.268-.935-.479-1.896-.632v-3.37a1 1 0 011-1z"
                      opacity=".731"></path>
                    <circle cx="8.98" cy="11" r="1" fill="#000" stroke="#979797"></circle>
                    <path fill="#000" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width=".5"
                      d="M0 15.318l.998-.99c.465.234.794.447.986.638.192.192.43.544.711 1.057l-1.002 1.11L0 15.319zM11.775 15.29l-.998-.99c-.465.234-.794.447-.986.64-.192.191-.43.543-.711 1.055l1.002 1.111 1.693-1.815z">
                    </path>
                  </g>
                </g>
              </svg>

              Online Programs</a>
          </div>
          <a class="back" href="#"> Back to the ist</a>
          <div class="online-programs__block-stars">
            <img src="images/icons/star.svg" alt="">
            <img src="images/icons/star.svg" alt="">
            <img src="images/icons/star.svg" alt="">
            <img src="images/icons/star.svg" alt="">
            <img src="images/icons/star.svg" alt="">
            <p>(4.9 from 317)</p>
          </div>
          <h4>Some longer name for an online program la why you even need longer one?</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="online-programs__block-content">
    <div class="container">
      <div class="position-relative online-programs__block-bg">
        <div class="online-programs__block-left">
          <div class="online-programs__block-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.Ut enim ad minim veniam dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna consectetur adipiscing elit, sed Lorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad
              minim veniam dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna consectetur adipiscing elit, sed </p>
          </div>
          <div class="online-programs__block-label">
            <label for="type">
              <img class="lazy loaded" data-src="images/icons/type.svg" alt="#" src="images/icons/type.svg"
                data-was-processed="true">
              Type
            </label>
            <p>Yoga</p>
          </div>
          <div class="online-programs__block-label">
            <label for="time">
              <img class="lazy loaded" data-src="images/icons/clock.svg" alt="#" src="images/icons/clock.svg"
                data-was-processed="true">
              Duration
            </label>
            <p>10 lessons x20-30 min</p>
          </div>
          <div class="online-programs__block-label">
            <label for="difficulty">
              <img class="lazy loaded" data-src="images/icons/begin.svg" alt="#" src="images/icons/begin.svg"
                data-was-processed="true">
              Difficulty
            </label>
            <p>beginner</p>
          </div>

          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Additional info
                    <img src="images/icons/plus.svg" alt="">
                  </button>
                </h2>
              </div>
              <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <h4>Lorem ipsum dolor sit amet, consectetu</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.Ut enim ad minim veniam dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna consectetur adipiscing elit,</p>

                  <h4>Lorem ipsum dolor sit amet, consectetu</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.Ut enim ad minim veniam dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna consectetur adipiscing elit,</p>

                  <h4>Lorem ipsum dolor sit amet, consectetu</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.Ut enim ad minim veniam dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna consectetur adipiscing elit,</p>
                  <div class="card-body__img">
                    <img class="lazy" data-src="images/ball.png" alt="">
                    <img class="lazy" data-src="images/ball.png" alt="">
                    <img class="lazy" data-src="images/ball.png" alt="">
                  </div>
                  <div class="card-body__img-slider swiper-container">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <img class="lazy" data-src="images/ball.jpg" alt="#">
                      </div>
                      <div class="swiper-slide">
                        <img class="lazy" data-src="images/ball.jpg" alt="#">
                      </div>
                      <div class="swiper-slide">
                        <img class="lazy" data-src="images/ball.jpg" alt="#">
                      </div>
                    </div>
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="online-programs__block-right">
          <div class="online-programs__block-card">
            <div class="online-programs__block-img"><img class="lazy" data-src="images/card-online.jpg" alt="#"></div>
            <h3>$8.50</h3>
            <div class="online-programs__block-card-info">
              <ul>
                <li>- lorem ipsum dolor sit amet, consectetur;</li>
                <li> - sed do eiusmod tempor incididunt ut;</li>
                <li>- labore et dolore magna aliqua. Ut enim ad;</li>
                <li>- sed do eiusmod tempor incididunt ut.</li>
              </ul>
              <div class="online-programs__block-btn">
                <button class="button-light">Add to Cart</button>
                  <button class="btn-green">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
