<div class="bg-cover-fixed header-contact__fixed position-relative" style="background-image: url('images/fitnesski-main-bg.png');" >
  <div class="container h-100">
    <div class="header-contact">
      <div class="header-contact__info">
        <div class="header-contact__left">
          <h1>Questions? <span>Ask</span> us.
            Problem? <span>Tell</span> us.
            Happy? Let us know.</h1>
          <p style="max-width: 379px; color: #fff">We would love to hear from you. Please use our contact form or use any other listed method to get in touch. To stay up-to-date follow us on our social channels.</p>

        </div>
        <div class="header-contact__right">
          <form action="#"><label for="#">First Name</label><input placeholder="Dave" type="text">
          </form>
          <form action="#"><label for="#">Last Name</label><input placeholder="Archer" type="text">
          </form>
          <form action="#"><label for="#">Your Email</label><input placeholder="example@mail.com" type="text">
          </form>
          <form class="arrow-select" action="#">
            <label for="gender">Gender</label>
            <div class="position-relative">
              <select name="form" id="gender">
                <option value="1">Female</option>
                <option value="2">Male</option>
                <option value="3">Other</option>
              </select>
            </div>
          </form>
          <form class="header-contact__form-textarea" action="#">
            <label for="#">Your Messege</label>
            <textarea placeholder="Type..." name="type" id="type" cols="30" rows="10"></textarea>
           <button class="btn-green">Send Messege</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
