<!--<div class="reliable">
  <div class="container">
    <div class="reliable__content">
      <div class="reliable__text">
        <span>— Our strategy</span>
        <h2>Creating a convenient & <span>reliable</span> marketplace to harvest your positive energy</h2>
      </div>
    </div>
  </div>
  <div class="reliable__img">
    <img src="images/energy.png" alt="">
  </div>
</div>-->

<div class="reliable">
  <div class="container-fluid">
    <div class="reliable-content">
      <div class="row">
        <div class=" col-lg-6 offset-lg-6">
          <div class="reliable__img" data-when="enter" data-from="0.8" data-to="0" data-opacity="0" data-translatex="400" style="opacity: 1; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1);">
            <img src="images/energy.jpg" alt="right">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-6">
        <div class="reliable__text">
          <span>— Our strategy</span>
          <h2>Creating a convenient & <span>reliable</span> marketplace to harvest your positive energy</h2>
        </div>
      </div>
    </div>
  </div>
</div>
