.footer {
  background-color: #f8f8f8;
  padding-top: 50px;
  padding-bottom: 55px;
  &__logo {
    padding-bottom: 50px;
  }
  &__block-2 {
    ul {
      margin-left: 0 !important;
      margin-bottom: 0 !important;
    }
  }
  &__block-1 {
    padding-right: 140px;
    ul {
      margin-left: 0 !important;
      margin-bottom: 0 !important;
    }
    @media (max-width: 991px) {
      padding-right: 292px;
    }
    @media (max-width: 767px) {
      padding-bottom: 40px;
      padding-right: 0;
    }
  }
  &__block-3 {
    padding-right: 260px;
    ul {
      margin-left: 0 !important;
      margin-bottom: 0 !important;
    }
    @media (max-width: 1200px) {
      padding-right: 140px;
    }
    @media (max-width: 991px) {
      padding-right: 322px;
    }
    @media (max-width: 767px) {
      padding-bottom: 40px;
      padding-right: 0;
    }
  }
  &__left-block {
    display: flex;
    @media (max-width: 991px) {
      padding-bottom: 45px;
    }
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
  p {
    color: #150c2a;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    padding-top: 50px;
    display: flex;
    justify-content: flex-end;
    max-width: 533px;
    width: 100%;
    @media (max-width: 767px) {
      justify-content: center;
    }
  }
  input {
    height: 40px;
    border-radius: 11px;
    background-color: #ebebeb !important;
    max-width: 344px;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 5px;
    @media (max-width: 767px) {
      max-width: 328px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
      padding-left: 30px;
    }
    &::placeholder {
      color: #000 !important;
      font-family: "Neue Haas Grotesk Display Pro", sans-serif;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.17px;
    }
  }
  form {
    display: flex;
    width: 100%;
    border-radius: 11px;
    background-color: #ebebeb !important;
    p {
      margin: 0 !important;
    }
    @media (max-width: 767px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #f8f8f8;
    }
  }
  &__right-bottom {
    padding-top: 60px;
    display: flex;
    width: 100%;
    max-width: 534px;
    @media (max-width: 991px) {
      margin: auto;
    }
    @media (max-width: 767px) {
      flex-direction: column;
      max-width: 100%;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 190px;
      height: 40px;
      border-radius: 8px;
      background-color: #88ca1e;
      text-decoration: none;
      border: none;
      color: #fff;
      font-family: "Neue Haas Grotesk Display Pro", sans-serif;
      font-weight: normal;
      font-size: 18px;
      transition: 0.4s;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      @media (max-width: 767px) {
        max-width: 328px;
      }
      &:active,
      &:focus {
        border: #88ca1e !important;
        outline: none;
        text-decoration: none;
      }
      &:hover,
      &:active {
        box-shadow: 2px 2px 40px rgba(134, 204, 0, 0.75);
      }
    }
  }
  &__social {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    li {
      display: flex;
      align-items: center;
    }
    img {
      padding-right: 10px;
    }
  }
  &__right-top {
    display: flex;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
  &__right-block {
    display: flex;
    flex-direction: column;
  }
  h4 {
    padding-bottom: 30px;
    font-size: 24px;
  }
  a {
    transition: 0.3s;
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    color: #150c2a;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    &:hover {
      color: #88ca1e;
    }
  }
  li {
    padding-bottom: 15px;
  }
}
