<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../layout/head }}
</head>
<body class="about-page">
    {{> ../layout/header}}
    {{> ../sections/page-hero}}
    {{> ../sections/energy}}
    {{> ../sections/grid-gallery}}
    {{> ../sections/reliable}}
    {{> ../sections/card-detail}}
    {{> ../sections/explore-block}}
    {{> ../layout/footer}}
    {{> ../components/modal}}
</body>
</html>
